aniso8601==9.0.1
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
cachelib==0.1.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Cython==0.29.23
cytoolz==0.11.0
decorator==4.4.2
distributed==2021.4.0
docutils==0.17
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flake8==3.9.0
Flask==1.1.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.8
Flask-Session==0.3.2
gunicorn==20.1.0
html5lib==1.1
imagecodecs==2021.3.31
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==3.10.0
iniconfig==1.1.1
jedi==0.17.1
Jinja2==2.11.3
json5==0.9.5
jsonschema==3.2.0
libarchive-c==2.9
nest-asyncio==1.4.2
networkx==2.5.1
opencv-python==4.5.1.48
openpyxl==3.0.7
packaging==20.9
path==15.1.2
pathlib2==2.3.5
pathtools==0.1.2
Pillow==8.2.0
pip==21.0.1
pkginfo==1.7.0
ply==3.11
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycurl==7.43.0.6
pydocstyle==6.0.0
pyerfa==1.7.2
pyflakes==2.2.0
pylint==2.7.4
pyOpenSSL==20.0.1
pyotp==2.4.1
pyparsing==2.4.7
pyreadline==2.1
pyrsistent==0.17.3
PySocks==1.7.1
pytest==6.2.3
python-dateutil==2.8.1
python-dotenv==0.15.0
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
pytz==2021.1
PyWavelets==1.1.1
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
requests==2.25.1
setuptools==52.0.0
sortedcollections==2.1.0
sortedcontainers==2.3.0
sympy==1.8
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tqdm==4.59.0
typing-extensions==3.7.4.3
ujson==4.0.2
unicodecsv==0.14.1
urllib3==1.26.4
watchdog==1.0.2
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.36.2
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
zict==2.0.0
zipp==3.4.1