@import "../../league-fonts/fonts.css";

.Home {
  text-align: center;
}

.PlayButton {
  padding: 10px 25px 10px 25px;
  font-family: "LeagueFontRegular", Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: black;
  outline: none;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  background-color: #9AFF9A;
  transition-duration: 0.5s;
}

.PlayButton:hover {
  background-color: #00EE00;
  color: black;
}