@import "../../league-fonts/fonts.css";

.About {
  text-align: center;
}

.BackHomeButtonContainer {
  padding: 10px;
}

.BackHomeButton {
  padding: 10px 25px 10px 25px;
  font-family: "LeagueFontRegular", Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: black;
  outline: none;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  background-color: lightgray;
  transition-duration: 0.5s;
}

.BackHomeButton:hover {
  background-color: gray;
  color: black;
}

.PatchText {
  font-family: "LeagueFontRegular", Arial, Helvetica, sans-serif;
  font-size: 24px;
  outline: none;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  background-color: lightblue;
  text-align: center;
  width: 30%;
  padding: 10px 0px 10px 0px;
  margin: 10px auto 10px auto;
}

.PatchVersionText {
  font-family: "LeagueFontBold", Arial, Helvetica, sans-serif;
  color: green;
}