.GameInterface {
  text-align: center;
}

.EndGameButton {
  padding: 10px 25px 10px 25px;
  font-family: "LeagueFontRegular", Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: black;
  outline: none;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  background-color: #EEB4B4;
  transition-duration: 0.5s;
}

.EndGameButton:hover {
  background-color: #EE3B3B;
  color: black;
}

.QuestionAnswerFeedbackDisplay {
  display: flex;
  flex-direction: row;
}

.QuestionAndAnswerChoicesDisplay {
  outline: none;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  border-color: black;
  background-color: lightgray;
  text-align: center;
  width: 100%;
  margin: 0px 10px 0px 10px;
}